#titulo {
  font-size: 20px;
  text-align: center;
  color: firebrick;
  margin-top: 10px;
  margin-bottom: 20px;
}

.links {
  border: goldenrod 4px solid;
  text-align: center;
  color: blue;
}

#camarao {
  width: 600px;
  float: right;
}

.introduction {
  display: inline-block;
}

#lado {
  width: 50%;
}

#comeco {
  font-family: cursive;
  font-size: 16px;
}

table {
  border: 1px solid black;
  height: 178px;
  width: 178px;
  display: inline-block;
  position: absolute; left: 250px; right: 50px; top: auto;
}

tr, td {
  border: 1px solid black;
}